torch
torchvision
torchaudio
pytorch-lightning
wandb
dask
pandas
numpy
scipy
scikit-learn
matplotlib
seaborn
hydra-core
pytest
pytest-cov
flake8
sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinxcontrib-napoleon
sphinx-autodoc-typehints
sphinxcontrib-mermaid
sphinx-markdown-builder